<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <!-- Change from read-only to read-write -->
        <key>com.apple.security.files.user-selected.read-write</key>
        <true/>
        
        <!-- Add temporary exception for specific paths -->
        <key>com.apple.security.temporary-exception.files.home-relative-path.read-write</key>
        <array>
            <string>Library/Developer/Xcode/</string>
            <string>Library/Developer/CoreSimulator/</string>
            <string>Library/Caches/com.apple.dt.Xcode/</string>
            <string>Library/Caches/org.carthage.CarthageKit/</string>
        </array>
    </dict>
</plist>
